* {
    margin: 0;
    padding: 0;

    font-family: "Montserrat", sans-serif;
 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

#form-paciente {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid whitesmoke;
    padding: 40px;
}
 
.form-group{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap:20px;
    align-items: center;
 }


.form-subgroup{
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 10px;
}

.label {
    font-weight: bold;
    width: 200px;
}


.form-botao{
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.botao{
    background-color: rgb(44, 44, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.botao:hover {
    background-color: rgb(32, 32, 211);
    cursor: pointer;
}


 

input, select {
    /* padding: 5px; */
    border: 1px solid #fca501;
    border-radius: 5px;
    background-color: #fff2df;
    height: 20px;
}

input:disabled {
    border: 1px dotted #faba42;
    background-color: #fdead0;
}

.inputMenor {
    width: 60px;
}

.sublabel {
    font-size: 12px;
    color: #666;
    margin-top: 3px;
}

 

@media (max-width: 1025px) {
    #form-paciente {
        min-width: 200px;
        max-width: 600px;
        padding: 20px;
    }

    .form-group {
        flex-direction: column;
        gap: 10px;

        .sublabel {
            width: 90%;
            margin-left: 5%;
        }
    }

    .input{
        width: 100%;
    }

    input {
        width: 100%;

    }

    .form-botao {
        justify-content: center;
    }
    .botao {
        width: 80%;
    }

    .label {
        width: auto;
    }

    .form-subgroup {
        flex-direction: row;
        .input {
            width: 70%;
        }
        .sublabel {
            margin-left: 4%;
            width: 100%;
        }
    }


    .inputMenor {
        width: 100%;
    }

    


    #form-telefone {
        flex-direction: row;
    }
}
 