<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIENF - Considerações Finais</title>
    <link rel="stylesheet" href="{% static 'formulario.css' %}">
    <link rel="stylesheet" href="{% static 'nav.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <!-- <div class="wrap">
        <h1>🩺 Protocolo de Manchester</h1>

        <div class="card">
            <h2>Classificação de Risco</h2>
            <p>O paciente foi classificado como <strong>{{ classificacao }}</strong> no Protocolo de Manchester.</p>
            <p>Isso indica que o paciente deve receber atendimento em até <strong>{{ tempo_espera }} minutos</strong>.</p>
        </div>

        <div class="card">
            <h2>Considerações Finais</h2>
            <p>Com base na classificação de risco, é essencial que a equipe médica priorize o atendimento do paciente conforme o nível de urgência identificado.</p>
            <p>Recomenda-se monitoramento contínuo dos sinais vitais e reavaliação periódica para garantir a segurança e o bem-estar do paciente.</p>
        </div>
    </div> -->
</body>
</html>