{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="{% static 'formulario.css' %}">
    <link rel="stylesheet" href="{% static 'nav.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<header>
    <div class="nav-top">
        <button onclick="voltar()" aria-label="Voltar">←</button>
        <div class="nav-title">
        <h1>Cadastro</h1>
        <p>Realize o cadastro do paciente</p>
        </div>
    </div>
</header>
<div class="wrap"> 
    <h1>🩺 Ficha de cadastro</h1>

    <form method="POST" action="{% url 'submit_paciente_form' %}" id="form-triagem">
        {% csrf_token %}
        <div class="card">
            <h2>Informações basicas</h2>
            <div class="field">
                <label for="nome">Nome Completo</label>
                <div class="input" id="nome">{{ form.nome }}</div>
            </div>
            <div class="field">
                <label for="dataNasc">Data de Nascimento</label>
                <div class="input" id="dataNasc">{{ form.data_de_nascimento }}</div>
            </div>

            <div class="field">
                <label for="genero">Gênero</label>
                <div class="input" id="genero">{{ form.genero }}</div>
            </div>
        </div>
        <div class="card">
            <h2>Contato</h2>

            <div class="field">
                <label for="telefone">Telefone</label>
                <div class="input" id="telefone">{{ form.telefone }}</div>
            </div>

            <div class="field">
                <label for="email">Email</label>
                <div class="input" id="email">{{ form.email }}</div>
            </div>

            <div class="field">
                <label for="cep">CEP</label>
                <div class="input" id="cep">{{ form.cep }}</div>
            </div>

            <div class="field">
                <label for="numero">Número</label>
                <div class="input" id="numero">{{ form.numero_endereco }}</div>
            </div>
        </div>
        <div class="card">
            <h2>Outras Informações</h2>
            <div class="field">
                <label for="estadoCivil">Estado Civil</label>
                <div class="input" id="estadoCivil">{{ form.estado_civil }}</div>

            </div>

            <div class="field">
                <label for="profissao">Profissão</label>
                <div class="input" id="profissao">{{ form.profissao }}</div>
            </div>  
        </div>
 
        <!-- botao -->
        <div class="form-botao">
            <button type="submit" class="botao">Próximo</button>
        </div>
    </form>
</div>
<footer>
    💡 Este é um sistema de treinamento. Os dados não são salvos permanentemente.
</footer>

</body>
</html> 