<form method="POST" action="{% url 'submit_paciente_form' %}">
    {% csrf_token %}

    <div class="form-group">
        <div class="label"><label for="nome">Nome Completo</label></div>
        <div class="input">{{ form.nome }}</div>
    </div>

    <div class="form-group">
        <div class="label"><label for="dataNasc">Data de Nascimento</label></div>
        <div class="input">{{ form.data_de_nascimento }}</div>
    </div>

    <div class="form-group">
        <div class="label"><label for="genero">Gênero</label></div>
        <div class="input">{{ form.genero }}</div>
    </div>

    <div class="form-group">
        <div class="label"><label for="telefone">Telefone</label></div>
        <div class="input">{{ form.telefone }}</div>
    </div>

    <div class="form-group">
        <div class="label"><label for="email">Email</label></div>
        <div class="input">{{ form.email }}</div>
    </div>

    <div class="form-group">
        <div class="label"><label for="cep">CEP</label></div>
        <div class="input">{{ form.cep }}</div>
    </div>

    <div class="form-group">
        <div class="label"><label for="numero">Número</label></div>
        <div class="input">{{ form.numero_endereco }}</div>
    </div>

    <div class="form-group">
        <div class="label"><label for="estadoCivil">Estado Civil</label></div>
        <div class="input">{{ form.estado_civil }}</div>
    </div>

    <div class="form-group">
        <div class="label"><label for="profissao">Profissão</label></div>
        <div class="input">{{ form.profissao }}</div>
    </div>

    <div class="form-group">
        <div class="label"><label for="formacao">Formação Educacional</label></div>
        <div class="input">{{ form.formacao_educacional }}</div>
    </div>

    <div class="form-botao">
        <button type="submit" class="botao">Próximo</button>
    </div>
</form>
