{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ficha do Paciente</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <form method="POST" id="form-registro-historico">
        {% csrf_token %}
    
        <div class="form-group">
            <label for="internacao_anterior">Internações Anteriores</label>
            <div class="input">{{ form.internacao_anterior }}</div>
        </div>
    
        <div class="form-group">
            <label for="cirurgia_anterior">Cirurgias Anteriores</label>
            <div class="input">{{ form.cirurgia_anterior }}</div>
        </div>
    
        <div class="form-group">
            <label for="doencas_familiares">Doenças Familiares</label>
            <div class="input">{{ form.doencas_familiares }}</div>
        </div>
</body>
</html>


    <button type="submit">Salvar Histórico</button>
</form>
