{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
</head>
<body>
    <h1>Bem-vindo ao Sistema de Prontuário</h1>
    <p>Selecione uma das opções abaixo:</p>
    <ul>
        <li><a href="{% url 'ficha' %}">Ficha de Paciente</a></li>
        <li><a href="{% url 'pesquisar_paciente' %}">Pesquisar Paciente</a></li>
    </ul>

</body>
</html>