*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    background: green;
    min-height: 100vh;
    padding: 40px;
}
h1 {
    margin-bottom: 20px;
    color: #333;
}

ul{
    list-style-type: none;
    padding: 0;

}
li{
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}